include ../mixins/card
include ../mixins/form
include ../data 

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Empire Properties
    link(rel="stylesheet", href="./css/style.css")
    //- FONT AWSOME
    link(href="https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap" rel="stylesheet")
    script(src="https://kit.fontawesome.com/806ac7a0a4.js" crossorigin="anonymous" defer)


  body 
    block header 
      include ../includes/header

    block main 
      main 

    block footer
      include ../includes/footer