//- wrapper
div(class="relative py-16 mx-auto max-w-7xl ")
  h3(class="mb-4 text-3xl font-semibold text-center text-white lg:text-5xl md:text-4xl" data-aos="fade-up" ) About Us
  p(class="mb-4 text-xl text-center text-gray-100 lg:text-2xl" data-aos="fade-right" data-aos-delay="800") We Are The Best Real Estate Company

  //- wrapper
  div(class="flex w-11/12 mx-auto mt-8 bg-white")
    //- left side
    div(class="hidden w-6/12 lg:block" data-aos="fade-right" data-aos-delay="800")
      img(class="object-cover w-full h-full" alt="about" src="./img/about2.jpg")

    //- right side
    div(class="p-6" data-aos="fade-left" data-aos-delay="800")
      p(class="mb-2 text-lg font-semibold text-gray-600") Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, ea.
      p(class="mb-4 text-sm text-gray-500") Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum pariatur sint eaque ipsa neque temporibus repellendus quod.
      p(class="mb-2 text-sm text-gray-500") Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, quaerat.
      ul(class="pl-8 text-sm text-gray-500 list-disc marker:text-green-500" role="list")
        li(class="mb-2 " ) Lorem ipsum dolor sit.
        li(class="mb-2") Lorem ipsum lorem, ipsum. amet consectetur adipisicing.
        li(class="mb-2") Lorem ipsum dolor sit amet.
        li(class="mb-2") Lorem ipsum dolor sit amet consectetur.
        li(class="") Lorem ipsum sit amet.
      button(class="px-4 py-2 mt-4 text-sm font-semibold text-white bg-green-500 rounded Hover:bg-green-400") Learn More