//- blog article
div(class="bg-gray-200 ")
  //- blog article- wrapper
  div(class="px-4 py-16 mx-auto text-center max-w-7xl")
    h3(class="mb-4 text-3xl font-semibold text-center text-gray-700 lg:text-4xl" data-aos="fade-up" ) Our Blog 
    p(class="mb-10 text-xl text-center text-gray-600 lg:text-2xl" data-aos="fade-right" data-aos-delay="1000") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, sed!
    //- blof card container
    div(class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3")
        each blog in blogArr
          +blogCard(blog)

//- client opinion section
div(class="bg-green-500") 
  //- wrapper
  div(class="px-4 py-16 mx-auto text-center max-w-7xl")
    h3(class="mb-4 text-3xl font-semibold text-center text-white lg:text-5xl md:text-4xl" data-aos="fade-right" ) What Our Client Says 
    p(class="mb-10 text-xl text-center text-white lg:text-2xl" data-aos="fade-right" data-aos-delay="1000") Lorem, ipsum dolor sit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, dicta? 
    //- card-container
    div(class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3 lg:gap-20px-8 md:px-10 ")
      //- client-card-1
      div(class="flex flex-col items-center space-y-8 " data-aos="fade-right" data-aos-delay="1200")
        //- image wrapper
        div(class="overflow-hidden rounded-full lg:w-52 lg:h-52 md:w-44 md:h-44 w-36 h-36 ")
          img(alt="avatar" src="https://res.cloudinary.com/besttlookk/image/upload/v1646967862/real_estate/client-1_l5mzdy.jpg" class="object-cover w-full h-full rounded-full")
        //- content-section
        div(class="")
          p(class="mx-auto text-lg leading-7 text-gray-100 w-96") Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi laboriosam neque ab expedita praesentium in nam voluptate mollitia. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, ullam?
          p(class ="mt-6 text-lg font-semibold text-white lg:mt-8") Anna Norton

      //- client-card-2
      div(class="flex flex-col items-center space-y-8" data-aos="fade-up" data-aos-delay="1200")
   
        //- image wrapper
        div(class="overflow-hidden rounded-full lg:w-52 lg:h-52 md:w-44 md:h-44 w-36 h-36 ")
          img(alt="avatar" src="https://res.cloudinary.com/besttlookk/image/upload/v1646967863/real_estate/client-2_v4mqnq.jpg" class="object-cover w-full h-full rounded-full")
        //- content-section
        div(class="")
          p(class="mx-auto text-lg leading-7 text-gray-100 w-96") Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi laboriosam neque ab expedita praesentium in nam voluptate mollitia.
          p(class ="mt-6 text-lg font-semibold text-white lg:mt-8") Alfie Sanders

      //- client-card-3
      div(class="flex flex-col items-center space-y-6 lg:space-y-8" data-aos="fade-left" data-aos-delay="1400")
        //- image wrapper
        span(class="overflow-hidden rounded-full lg:w-52 lg:h-52 md:w-44 md:h-44 w-36 h-36")
          img(alt="avatar" src="https://res.cloudinary.com/besttlookk/image/upload/v1646967863/real_estate/client-3_fbujil.jpg" class="object-cover w-full h-full rounded-full")
        //- content-section
        div(class="")
          p(class="mx-auto text-lg leading-7 text-gray-100 w-96") Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi laboriosam neque ab expedita praesentium in nam voluptate mollitia.
          p(class ="mt-6 text-lg font-semibold text-white lg:mt-8") Shannon Curtis