footer(class="")
  div
    //- wrapper
    div(class="px-4 py-10 mx-auto max-w-7xl")
      //- 
      div(class="grid grid-cols-2 gap-8 lg:grid-cols-4")
        //- ==============item1
        div(class="px-4 col-span-full lg:col-span-1")
          //- logo
          a(class="mb-8 text-xl text-green-500 font-sansita" href="/")
            span(class="text-lg font-semibold ") Empire 
            i.fab.fa-empire.fa-lg(class="mr-1 ")
            span(class="text-lg font-semibold ") Property
          
          p(class="mb-6 text-sm text-gray-500") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, obcaecati!

          //- social icon
          div(class="flex mt-1 mb-6 space-x-4")
            i.fab.fa-facebook(class="text-blue-500 duration-300 transform cursor-pointer hover:scale-110")
            i.fab.fa-linkedin(class="text-blue-800 duration-300 transform cursor-pointer hover:scale-110")
            i.fab.fa-twitter(class="text-blue-400 duration-300 transform cursor-pointer hover:scale-110")
            i.fas.fa-envelope(class="text-red-500 duration-300 transform cursor-pointer hover:scale-110")

        //- ============== Item 2
        div(class="px-4")
          p(class="font-bold text-gray-800") Navigation 
          div(class="flex flex-col space-y-3")
            a(class="text-sm text-gray-500" href="#") Home
            a(class="text-sm text-gray-500" href="#") Property 
            a(class="text-sm text-gray-500" href="#") Agent 
            a(class="text-sm text-gray-500" href="#") About 
            a(class="text-sm text-gray-500" href="#") Blog

        //- ============== Item 3
        div(class="px-4")
          p(class="font-bold text-gray-800") Services
          div(class="flex flex-col space-y-3")
            a(class="text-sm text-gray-500" href="#") Drone Mapping
            a(class="text-sm text-gray-500" href="#") Real State 
            a(class="text-sm text-gray-500" href="#") Commercial
            a(class="text-sm text-gray-500" href="#") Construction 
      
        //- ============== Item 4
        div(class="px-4")
          p(class="font-bold text-gray-800") Have a Question ?
          div(class="flex flex-col space-y-3")
            div(class="text-gray-500 " ) 
              i.fas.fa-location-dot
              span(class="ml-2 text-xs") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga!
            div(class="text-gray-500" ) 
              i.fas.fa-phone
              span(class="ml-2 text-xs") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga!
            div(class="text-gray-500 " ) 
              i.fas.fa-envelope
              span(class="ml-2 text-xs") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga!

  //- COPYWRITE 
  div(class="bg-gray-200")
    //- wrapper
    div(class="px-4 py-4 mx-auto text-center max-w-7xl")
      p(class="text-xs text-gray-600") Copyright ©2022 All rights reserved | This template is made by by prabhash__ranjan