header(class="sticky top-0 z-40 bg-green-500 shadow-lg")
  //- header- wrapper
  div(class="flex items-center justify-between px-4 mx-auto max-w-7xl")

    //- header-left
    div(class="flex items-center space-x-7")
      //- logo
      a(class="px-2 py-4 text-lg text-white font-sansita" href="/")
        span(class="text-lg font-semibold ") Empire 
        i.fab.fa-empire.fa-lg(class="mr-1 ")
        span(class="text-lg font-semibold ") Property
      //- nav-list
      nav(class="hidden space-x-1 lg:flex ")
        a(href="#" class="relative px-2 py-4 font-semibold text-green-900 nav-link nav-link--active") Home
        a(href="#" class="relative px-2 py-4 font-semibold text-white transition duration-300 nav-link hover:text-green-800") Property
        a(href="#" class="relative px-2 py-4 font-semibold text-white transition duration-300 nav-link hover:text-green-800") Services
        a(href="#" class="relative px-2 py-4 font-semibold text-white transition duration-300 nav-link hover:text-green-800") How it works
        a(href="#" class="relative px-2 py-4 font-semibold text-white transition duration-300 nav-link hover:text-green-800") Agent


        a(href="#" class="relative px-2 py-4 font-semibold text-white duration-300 nav-link hover:text-green-800") About
        a(href="#" class="relative px-2 py-4 font-semibold text-white duration-300 nav-link hover:text-green-800") Blog
        a(href="#" class="relative px-2 py-4 font-semibold text-white duration-300 nav-link hover:text-green-800") Contact


    //- header-right
    div(class="flex items-center space-x-4")
      div(class="lg:hidden")
        i.fa.fa-bars.fa-2x(class="text-white")