header(class="sticky top-0 z-40 bg-green-500 shadow-lg")
  //- header- wrapper
  div(class="flex items-center justify-between px-4 mx-auto max-w-7xl")

    //- header-left
    div(class="flex items-center space-x-7")
      //- logo
      a(class="px-2 py-4 text-lg text-white font-sansita" href="/")
        span(class="text-lg font-semibold ") Empire 
        i.fab.fa-empire.fa-lg(class="mr-1 ")
        span(class="text-lg font-semibold ") Property
      //- nav-list
      nav(class="hidden space-x-1 lg:flex ")
        +navLink("#home", "Home")
        +navLink("#property", "Property")
        +navLink("#service", "Services")
        +navLink("#how", "How it works")
        +navLink("#agent", "Agent")
        +navLink("#about", "About")
        +navLink("#blog", "Blog")
        +navLink("#contact", "Contact")

    //- header-right
    div(class="flex items-center space-x-4")
      div(class="lg:hidden")
        label(for="nav-toggle")
          i.fa.fa-bars.fa-2x(class="text-white transition duration-500 transform cursor-pointer hover:rotate-180 active:scale-95" id="menu-icon")