div(class="relative z-10 flex justify-center h-full px-4 mx-auto max-w-7xl" ) 
  div(class="flex-1 px-4 mt-24 text-center lg:mt-28")

    h1(class="text-5xl font-extrabold tracking-tight sm:text-5xl md:text-6xl font-sansita lg:text-7xl") 
      span(class="block text-white") Find Your Best
      span(class="block text-green-500") Dream Home

    p(class="w-4/5 mx-auto mt-10 text-base text-center text-gray-100 lg:w-3/5") At empire properties, we ensure that our clients get the best properties at affordable prices. Luxuary is our proirity and budget is our constrain. Pick and choose from 2000+ properties across the globe.

    //- buttons
    div(class="mt-8 md:flex md:justify-center md:space-x-2")
      div(class="w-3/5 mx-auto md:mx-6 lg:w-64 md:w-64")
        a(href="#" class="flex justify-center px-8 py-3 text-white bg-green-500 rounded-md hover:bg-green-400") View Properties
      div(class="w-3/5 mx-auto mt-2 md:mx- md:mt-0 lg:w-64 md:w-44")
        a(href="#" class="flex justify-center px-8 py-3 text-green-700 bg-green-100 rounded-md") Learn More

