div(class="px-4 py-16 mx-auto text-center max-w-7xl")
  h3(class="text-3xl text-gray-700 lg:text-5xl md:text-4xl" data-aos="fade-up") How it Works 
  p(class="mt-2 text-gray-500" data-aos="fade-right" data-aos-delay="800") Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem hic ut odit! Animi, hic veritatis?

  //- card-container
  div(class="grid grid-cols-1 gap-10 mt-8 md:grid-cols-2 lg:grid-cols-3")

    //- card 1
    div(class="text-center" data-aos="fade-right" data-aos-delay="800")
      div(class="flex items-center justify-center w-16 h-16 mx-auto text-white bg-green-500 rounded-full")
        span(class="text-4xl") 1
      h4(class="mt-8 mb-4 font-semibold") Evaluate Your Property 
      p(class="text-sm text-gray-500") Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, blanditiis. Et veniam eligendi, ad deleniti dicta cum officiis necessitatibus ex exercitationem voluptas enim sit reprehenderit.

    //- card 2
    div(class="" data-aos="fade-up" data-aos-delay="1000")
      div(class="flex items-center justify-center w-16 h-16 mx-auto text-white bg-green-500 rounded-full")
        span(class="text-4xl") 2
      h4(class="mt-8 mb-4 font-semibold") Meet Your Agent
      p(class="text-sm text-gray-500") Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, blanditiis. Et veniam eligendi, ad deleniti dicta cum officiis necessitatibus ex exercitationem voluptas enim sit reprehenderit.

    
    //- card 3
    div(class="" data-aos="fade-left" data-aos-delay="1200")
      div(class="flex items-center justify-center w-16 h-16 mx-auto text-white bg-green-500 rounded-full")
        span(class="text-4xl") 3
      h4(class="mt-8 mb-4 font-semibold") Close the Deal
      p(class="text-sm text-gray-500") Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, blanditiis. Et veniam eligendi, ad deleniti dicta cum officiis necessitatibus ex exercitationem voluptas enim sit reprehenderit.

