div(class="z-50 flex items-center justify-center sidebar lg:hidden" id="sidebar")
  //- 
  label(for="nav-toggle" class="absolute right-6 top-6")
    i.fas.fa-xmark.fa-2x(class="text-white transition duration-500 transform cursor-pointer hover:rotate-180 active:scale-95" id="cancel-icon")

  
  //- wrapper
  nav(class="flex flex-col space-y-2 text-center color-white" )
    +sideLink("#home", "Home","1")
    +sideLink("#property", "Property", "2")
    +sideLink("#service", "Services", "3")
    +sideLink("#how", "How it Works", "4")
    +sideLink("#agent", "Agent ", "5")
    +sideLink("#about", "About", "6")
    +sideLink("#blog", "Blog", "7")
    +sideLink("#contact", "Contact", "8")