div(class="z-50 flex items-center justify-center sidebar lg:hidden" id="sidebar")
  //- 
  div(class="absolute right-16 top-12")
    i.fas.fa-xmark.fa-2x(class="text-white transition duration-500 transform cursor-pointer hover:rotate-180 active:scale-95" id="cancel-icon")

  
  //- wrapper
  nav(class="flex flex-col space-y-2 text-center border-2 border-gray-100 color-white" )
    +sideLink("#home", "Home")
    +sideLink("#property", "Property")
    +sideLink("#service", "Services")
    +sideLink("#how", "How it Works")
    +sideLink("#agent", "Agent ")
    +sideLink("#about", "About")
    +sideLink("#blog", "Blog")
    +sideLink("#contact", "Contact")