- 
  const cardArr = [
    {
      price: "60,00,000",
      title: "Country Style House with beautiful garden and terrace" ,
      bed: 4,
      bath: 2,
      area: 2561,
      garage: 1,
      image: "1",
    },
      {
      price: "55,00,000",
      title: "Place Perfect For Nature Lovers" ,
      bed: 6,
      bath: 2,
      area: 2961,
      garage: 1,
      image: "2",
    },{
      price: "48,50,999",
      title: "Place Perfect For Nature Lovers" ,
      bed: 4,
      bath: 2,
      area: 2461,
      garage: 1,
      image: "3",
    },{
      price: "75,00,000",
      title: "Place Perfect For Nature Lovers" ,
      bed: 3,
      bath: 2,
      area: 2161,
      garage: 1,
      image: "4",
    },{
      price: "85,00,000",
      title: "Place Perfect For Nature Lovers" ,
      bed: 7,
      bath: 3,
      area: 3561,
      garage: 1,
      image: "5",
    },{
      price: "48,00,000",
      title: "Place Perfect For Nature Lovers" ,
      bed: 5,
      bath: 2,
      area: 2761,
      garage: 1,
      image: "6",
    }

  ]


- 
  const helpCardArr = [
    {
      iconName:"magnifying-glass-location",
      title:"Find Places Anywhere in the World",

    },{
      iconName:"user-secret",
      title:"We have Agents",

    },{
      iconName:"house-crack",
      title:"Buy & Rent Modern Properties ",

    },
  ] 


- 
  const agentCardArr = [
    {
      image:"1",
      name:"Josh Woodward",
      listing:"40"

    }, {
      image:"2",
      name:"Michael Long",
      listing:"62"

    }, {
      image:"3",
      name:"Alexander Vaughan",
      listing:"45"

    }, {
      image:"4",
      name:"Mia Austin",
      listing:"30"

    }, {
      image:"5",
      name:"Maisie Bradley",
      listing:"68"

    }, {
      image:"6",
      name:"Matthew Rhodes",
      listing:"80"

    },
  ] 


-
  const blogArr = [
    {
      image:"1",
      date:"10 March, 2022",
      title:"Listing Inventory Trends In The Time Of COVID",
      author:"Luke Foster"
    },
     {
        image:"2",
      date:"27 Feb, 2022",
      title:"Check yourself before you wreck your business",
      author:"Olivia Walsh"
    }, {
       image:"3",
      date:"12 Feb, 2022",
      title:" Look at every deal as an opportunity to do more business",
      author:"Brandon Holloway"
    }, {
       image:"4",
      date:"9 Jan, 2022",
      title:"Want better leads? Personalize per your pillar",
      author:"Rhys Hayward"
    },
  ]