mixin formInput(type,placeholder)
  input(type=`${type}` placeholder=`${placeholder}` class="px-4 py-2 mb-4 border rounded-sm outline-none focus:ring ring-offset-2 ring-offset-gray-200 ring-green-300")
